<h1>Listing homologacions</h1>

<table>
  <tr>
    <th>Estudiante</th>
    <th>Materia</th>
    <th>Estado</th>
    <th></th>
    <th></th>
  </tr>

<% @homologacions.each do |homologacion| %>
  <tr>
    <td><%= homologacion.estudiante.usuario.nombres if homologacion.estudiante %></td>
    <td><%= homologacion.materia.nombre if homologacion.estudiante %></td>
    <td><%= homologacion.estado %></td>
    <%if @coordinador%>
        <td><%= link_to 'Responder', edit_homologacion_path(homologacion) %></td>
    <%end%>
    <td><%= link_to 'Destroy', homologacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
